html {
  display: flex;
  justify-content: center;
}

body {
  background-color: #0F1624;
  margin: 0;
  font-family: "roboto";
  max-width: 1440px;
}

.title .title-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #FEFEFE;
}
.title img {
  margin-top: 44px;
  margin-left: 131px;
  width: 47px;
  height: 47px;
}
.title h1 {
  color: #FEFEFE;
  width: 124px;
  height: 45px;
  margin-top: 46px;
  margin-left: 12px;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.title .title-text {
  display: flex;
  flex-direction: row;
  margin-left: 218px;
  gap: 98px;
  margin-top: 46px;
}
.title .title-text h2 {
  color: #FEFEFE;
  cursor: pointer;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 121px;
  white-space: nowrap;
  margin: 0;
}
.title .title-text :nth-child(3) {
  margin-left: 98px;
}
.title .text-media {
  display: flex;
  flex-direction: row;
  gap: 29px;
}
.title .text-media img {
  margin-top: 52px;
  width: 32px;
  height: 32px;
}
.title .text-media a {
  width: 32px;
  height: 32px;
}

.presentation {
  margin-top: 157px;
  margin-left: 192px;
  overflow: scroll;
  width: 1057px;
}
.presentation h1 {
  color: #FEFEFE;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.presentation p {
  width: 989px;
  height: 162px;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #BCBCBC;
}

.geometric {
  margin-left: 1026px;
  margin-top: -176px;
  margin-bottom: -305px;
  z-index: -1;
  position: relative;
}

.projets-title {
  width: 262px;
  color: #FFF;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 96px;
  margin-left: 192px;
  margin-top: 255px;
}

.projets {
  margin-left: 192px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.projets .card {
  width: 550px;
  height: 700px;
  margin-top: 93px;
  flex-shrink: 0;
  border-radius: 50px 0px;
  background: #0F1624;
  box-shadow: 0px 0px 12px 0px #FFF;
}
.projets .card img {
  margin: 25px;
  width: 500px;
  height: 266px;
  flex-shrink: 0;
  border-radius: 8px;
}
.projets .card h1 {
  color: #FFF;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 88.5%;
  margin: 0px;
  display: flex;
  justify-content: center;
}
.projets .card .maligne {
  width: 300px;
  height: 4px;
  flex-shrink: 0;
  margin-left: 125px;
  margin-top: 25px;
  margin-right: 125px;
  border-radius: 83px;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
}
.projets .card p {
  margin: 25px;
  color: #FFF;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.projets .card button {
  margin-left: 25px;
  margin-right: 325px;
  margin-top: 35px;
  width: 200px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 83px;
  border: 0;
  cursor: pointer;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
}

.Technologies {
  margin-left: 50px;
  margin-top: 329px;
  color: #FFF;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.Technologies .progress h2 {
  color: #FFF;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.Technologies .progress .ligne {
  width: 1320px;
  height: 32.3px;
  border-radius: 83px;
  background: #162950;
}
.Technologies .progress .lignesup {
  width: 990px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 83px;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  position: absolute;
  top: 3177.93px;
}
.Technologies .progress .lignesupcss {
  position: absolute;
  top: 3323.93px;
  width: 990px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 83px;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
}
.Technologies .progress .lignesupjs {
  position: absolute;
  top: 3469.93px;
  width: 800px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 83px;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
}
.Technologies .progress .lignesupReact {
  position: absolute;
  top: 3618.93px;
  width: 10px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 83px;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
}
.aboutMe {
  height: 500px;
}
.aboutMe h1 {
  color: #FFF;
  margin-left: 192px;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.aboutMe .ligne {
  width: 950px;
  height: 12px;
  background: #FFF;
  margin-left: 315px;
  margin-right: 316px;
  margin-top: 141px;
}
.aboutMe .point {
  width: 32px;
  height: 32px;
  fill: #FFF;
  margin-left: 300px;
  position: relative;
  top: -210px;
  margin-top: 141px;
}
.aboutMe .point h2 {
  color: #FEFEFE;
}
.aboutMe .point p {
  width: 314px;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  left: -126px;
}
.aboutMe .point2020 {
  width: 32px;
  height: 32px;
  fill: #FFF;
  margin-left: 300px;
  position: relative;
  top: -385px;
  margin-top: 141px;
  left: 290px;
}
.aboutMe .point2020 h2 {
  color: #FEFEFE;
}
.aboutMe .point2020 p {
  width: 347px;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  left: -126px;
}
.aboutMe .point2022 {
  width: 32px;
  height: 32px;
  fill: #FFF;
  margin-left: 300px;
  position: relative;
  top: -558px;
  margin-top: 141px;
  left: 618px;
}
.aboutMe .point2022 h2 {
  color: #FEFEFE;
}
.aboutMe .point2022 p {
  width: 347px;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  left: -126px;
}
.aboutMe .point2023 {
  width: 32px;
  height: 32px;
  fill: #FFF;
  margin-left: 300px;
  position: relative;
  top: -731px;
  margin-top: 141px;
  left: 938px;
}
.aboutMe .point2023 h2 {
  color: #FEFEFE;
}
.aboutMe .point2023 p {
  width: 314px;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  left: -126px;
}

footer .contact h1, footer .contact p {
  margin-left: 259px;
  color: #FFF;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
footer .contact2 {
  margin-top: -72px;
  margin-left: 531px;
}
footer .contact2 h1, footer .contact2 p {
  color: #FFF;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
footer .media {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: -78px;
}
footer .media a {
  margin-left: 1317px;
}
footer .media :nth-child(2) {
  margin-left: 0;
}

/*# sourceMappingURL=Style.css.map */
