$main-color : #0F1624;
$font-family: 'roboto';

body {
    background-color: $main-color;
    margin: 0;
    font-family: $font-family;
    max-width: 1440px;
}

.title {
    .title-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        color: #FEFEFE;
    }
    img {
        margin-top: 44px;
        margin-left: 131px;
        width: 47px;
        height: 47px;
    }
    h1 {
        color: #FEFEFE;
        width: 124px;
        height: 45px;
        margin-top: 46px;
        margin-left: 12px;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: normal; 
    }
    .title-text {
        display: flex;
        flex-direction: row;
        margin-left: 218px;
        gap:98px;
        margin-top: 46px;
        h2 {
            color: #FEFEFE;
            cursor: pointer;
            font-family: Poppins;
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: normal; 
            width: 121px;
            white-space: nowrap;
            margin: 0;
        }
        :nth-child(3) {
            margin-left: 98px;
        }
    }
    .text-media {
        display: flex;
        flex-direction: row;
        gap: 29px;
        img {
            margin-top: 52px;
            width: 32px;
            height: 32px; 
        }
        a {
            width: 32px;
            height: 32px; 
        }
    }
}

.presentation {
    margin-top: 157px;
    margin-left: 192px;
    overflow: scroll;
    h1 {
        color:#FEFEFE;
        font-family: Poppins;
        font-size: 64px;
        font-style: normal;
        font-weight: 600;
        line-height: normal; 
        }
    p{
        width: 989px;
        height: 162px;
        font-family: Poppins;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: #BCBCBC; 
    }
}

.geometric {
        margin-left: 1235px;
        margin-top: -176px;
        z-index: -1;
        position: relative;
}

.projets-title {
    width: 262px;
    color: #FFF;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 96px;
    margin-left: 192px;
    margin-top: 255px;
}

.projets {
    margin-left: 192px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    .card {
        width: 550px;
        height: 700px;
        margin-top: 93px;
        flex-shrink: 0;
        border-radius: 50px 0px;
        background: #0F1624;
        box-shadow: 0px 0px 12px 0px #FFF;
            img {
                margin: 25px;
                width: 500px;
                height: 266px;
                flex-shrink: 0;
                border-radius: 8px; 
            }
            h1 {
                color: #FFF;
                font-family: Poppins;
                font-size: 36px;
                font-style: normal;
                font-weight: 600;
                line-height: 88.5%;
                margin: 0px;
                display: flex;
                justify-content: center;
            }
            .maligne{
                width: 300px;
                height: 4px;
                flex-shrink: 0;
                margin-left: 125px;
                margin-top: 25px;
                margin-right: 125px;
                border-radius: 83px;
                background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
            }
            p {
                margin: 25px;
                color: #FFF;
                font-family: Poppins;
                font-size: 28px;
                font-style: normal;
                font-weight: 600;
                line-height: normal; 
            }
            button {
                margin-left: 25px;
                margin-right: 325px;
                margin-top: 35px;
                width: 200px;
                height: 60px;
                flex-shrink: 0; 
                border-radius: 83px;
                border: 0;
                cursor: pointer;
                background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);  
            }
    }
}

.Technologies {
    margin-left: 192px;
    margin-top: 329px;
    color: #FFF;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
}